.calendar__table{

    width: 100%;
    height: calc(100vh - 128px);
}

.calendar__table td{
    border: 1px solid #cccccc;
    padding: 10px;
    vertical-align: top;
    width: 14.68%;
}

.calendar__weekday{
    font-weight: bold;
}